body {
    background-color: white;
}

h1 {
    color: black;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h2 {
    color: black;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}