body {
    background-color: white;
}

h1, h2, p {
    text-align: left;
    color: black;
    font-family: 'serif';
    font-weight: 100;
    margin: 20px 50px 0px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 30px;
}